* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	background: pink;
}

.row {
	margin: auto;
}

.header {
	padding: 20px;
	text-align: center;
	float: left;

}

.col {
	width: 50%;
}

.heading {
	margin-top: 50px;
}

.travelling {
	font-family : Helvetica;
}

.reading {
	font-family : ;
}

.mainContainer {
	margin: 30px;
	padding: 30px;

}

.mainContainer::after {
	content: "";
  	clear: both;
  	display: table;
}

.sectionContainer {
	float: right;
}


.imageContainer img {
	width: 800px;
	height: 500px;
	border : 5px solid white;
}

.hobbyIntro {
	padding: 30px;
	padding-left : 30px;
	text-align: left;

}



